
body {
    font-family: "Helvetica Neue LT W01_55 Roman", hsn-zhcn-sans-demilight, hsn-zhtw-sans-demilight, sans-serif;;
    -webkit-font-smoothing: antialiased;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

select {
    outline: none;
    appearance: none;
}